<h2 class="page-header">Edit Book</h2>
<!-- the enctype tells the server that the form is going to be sending multipart
data which could include a file. -->
<!-- <form action="/books" method="POST" enctype="multipart/form-data"> -->

<!-- we refactored above line taking out the enctye because we are using file pond which gives us the image file as a string -->
<form action="/books/<%= book.id%>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <!-- using an anchor tag rather than a button because buttons are used to
  interact and anchors link things with forms and links -->
  <a href="/books">Cancel</a>
  <button type="submit">Update</button>
</form>
