<h2>Search Books</h2>
<form action="/books" method="GET">
  <div>
    <label>Title</label>
    <input type="text" name="title" value="<%= searchOptions.title %>" />
  </div>
  <div>
    <label>Published After</label>
    <input
      type="date"
      name="publishedAfter"
      value="<%= searchOptions.publishedAfter %>"
    />
  </div>
  <div>
    <label>Published Before</label>
    <input
      type="date"
      name="publishedBefore"
      value="<%= searchOptions.publishedBefore %>"
    />
  </div>
  <button type="submit">Search</button>
</form>

<div>
  <!-- will create the list of all books showing and image -->
  <% books.forEach(book => { %>
  <!-- because we made it a virtual property in the model, we can access it the same way -->

  <img height="150" width="100" src="<%= book.coverImagePath %>" />
  <% }); %>
  <!-- Added closing tag for the forEach loop -->
</div>
