<h2>Recently Added</h2>

<div>
  <!-- will create the list of all books showing and image -->
  <% books.forEach(book => { %>
  <!-- because we made it a virtual property in the model, we can access it the same way -->
  <a href="/books/<%= book.id %>">
    <img height="150" width="100" src="<%= book.coverImagePath %>" />
  </a>
  <% }); %>
  <!-- Added closing tag for the forEach loop -->
</div>
