<!-- name is so we know it is a partial and not an actual file being rendered -->

<label>Name</label>
<!-- wll be able to get by using body.name since it is what is in the name field -->
<!-- will put the current Authors Name because if we are coming from the edit page there would already be a name -->
<input type="text" name="name" value="<%= author ? author.name : '' %>" />
