<h2>New Author</h2>
<form action="/authors" method="POST">
  <%- include('_form_fields') %>
  <!-- using an anchor tag rather than a button because buttons are used to
  interact and anchors link things with forms and links -->
  <a href="/authors">Cancel</a>
  <button type="submit">Create</button>
</form>
